%h1 Log In
%br
%br
= form_tag sessions_path do
  .clearfix
    = label_tag :email
    .input
      = text_field_tag :email, params[:email], :class => 'text_field'
  .clearfix
    = label_tag :password
    .input
      = password_field_tag :password, :class => "password_field"
  
  .form-actions
    %button{:class => "btn primary", :type => "submit"} Log In
