!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title OmniDemo
      = csrf_meta_tags
      
      = stylesheet_link_tag "application", :media => "all"

      %link{:href => "/assets/airplane.ico", :rel => "shortcut icon"}
            
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} OmniDemo
          .container.nav-collapse
            %ul.nav
              %li= link_to "Demo List", demos_path

    .container
      .content
        .row
          .span9
            = yield
          .span1  
          .span3
            .well.sidebar-nav
              %h3 Sidebar
              %ul.nav.nav-list
                %li.nav-header Sidebar
                %li= link_to "Link1", "/path1"
                %li= link_to "Link2", "/path2"
                %li= link_to "Link3", "/path3"

    %footer
      %p © Andy Wang 2012

    = javascript_include_tag "application"
    = yield :javascripts