!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title OmniDemo
      = csrf_meta_tags
      
      = stylesheet_link_tag "application", :media => "all"

      %link{:href => "/assets/airplane.ico", :rel => "shortcut icon"}
            
  %body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/"} OmniDemo
            .container.nav-collapse
              %ul.nav
                %li= link_to "Demo List", demos_path
              %ul.nav.pull-right
                - if current_user
                  %li= link_to "Logged in as #{current_user.name}"
                  %li.divider-vertical
                  %li= link_to "Logout", logout_path
                - else
                  %li= link_to "Login", login_path
      #container-wrap
        .container
          .content
            .row
              .span9
                = yield
              .span1  
              .span3
                .well.sidebar-nav
                  %h3 Sidebar
                  %ul.nav.nav-list
                    %li.nav-header Sidebar
                    %li= link_to "Link1", "/path1"
                    %li= link_to "Link2", "/path2"
                    %li= link_to "Link3", "/path3"

    #footer
      %b #{link_to "OmniDemo", "github.com/yorzi/OmniDemo"}. 2012.
      %p By #{link_to "Andy Wang", "github.com/yorzi"}. Follow us on #{link_to "GitHub", "github.com"}
      
    =link_to "", add_page_view_demo_path(:link => request.path), :remote => true, :method => :put, :id => "add_page_view"

    = javascript_include_tag "application"
    = yield :javascripts